* {
  box-sizing: border-box;
}
body,
html {
  font-size: 1.6rem;
  margin: 0;
  height: 100%;
}
main {
  height: 100%;
  display: flex;
}
main > * {
  flex: 1 0 50%;
}
#output {
  margin: 0;
  overflow: auto;
  height: 100%;
}
#input {
  resize: none;
  font-size: inherit;
  height: 100%;
}

[data-in-rage='false'] {
  font-weight: normal;
  color: black;
}

[data-in-rage='true'] {
  font-weight: bolder;
}
